@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

.block{
	background-color: black;
	opacity: 0.8;
	padding: 10px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	border-radius: 10px;
	color: white;
}

.navbar{
	font-size: 1.7em;
	background-color: black;
	margin-bottom: -10px;
	padding-top: 10px;
}

.navbar-inverse .navbar-nav>li>a{
	color: #337ab7;
}

body{
	width: 100%;
	background-color: white;
	font-size: 1.7em;
	font-family: Josefin Slab;
	color: black;
	padding: 0px;
	margin: 0px;
}

h1{
	padding: 0px;
	margin-top: 0px;
	font-size:3.6em;
}

h2{
	padding: 0px;
	margin: 0px;
}

.row{
	margin-right: 0px
}

.btn{
	background-color: black;
	border-color: black;
	color: #337ab7;
	font-size: 1.7em;
	margin-top: 1%;
}

.pageOne{
	padding-top: 8%;
	padding-bottom: 20%;
	background: url('../images/pageOne.jpg');
	background-repeat: no-repeat;
	margin-top: 10px;
}

p{
	font-size: 2.2em;
}

div.description p{
	font-size: 20px;
}

div.description a img:hover { 
    width: 98%;
    box-shadow: 10px 10px 10px grey;
}

#me{
	float: left;
	padding: 10px 20px 10px;
	padding-left: 0px;
	height: 500px;
}

.pageTwo{
	padding-top: 4%;
	padding-bottom: 2%;
}

.pageThree{
	background: url('../images/pageThree.jpg');
	color: white;
	padding-bottom: 6%;
}

.pageThreeExtension1{
	padding-bottom: 10%;
}

.pageThreeExtension2{
	background: url('../images/pageThreeExtension2.jpg');
	color: white;
	padding-bottom: 2%;
}

.extension{
	height: 120px;
}

.tiles{
	width: 95%;
}

.allPages{
	height: 100%;
	background-size: cover;
}

.padding{
	padding-top: 2%;
	padding-bottom: 2%;
}

footer{
	padding-top: 10px;
	background-color: black;
	font-size: 15px;
	color: white;	
}

footer p{
	font-size: 15px;
	margin: 0px;
	padding-bottom: 10px;
}
