@import url('https://fonts.googleapis.com/css?family=Lobster');

.block{
	background-color: black;
	opacity: 0.8;
	padding: 10px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	border-radius: 10px;
	color: white;
}

.nav-pills{
	font-size: 1.7em;
	background-color: black;
	margin-bottom: -10px;
}

body{
	width: 100%;
	background-color: white;
	font-size: 1.7em;
	font-family: Lobster;
	color: black;
}

h1{
	padding: 0px;
	margin-top: 0px;
	font-size:5.0em;
}

h2{
	padding: 0px;
	margin: 0px;
}

.row{
	margin-right: 0px
}
.btn{
	background-color: black;
	border-color: black;
	color: #337ab7;
	font-size: 1.7em;
	margin-top: 1%;
}

.pageOne{
	background: url('../images/pageOne.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 10px;
}

.pageTwo{
	background-size: cover;
}

p{
	font-size: 2.2em;
}

div.description p{
	font-size: 20px;
}

div.description a img:hover { 
    height: 320px;
    box-shadow: 10px 10px 10px grey;
}

.me{
	height: 300px;
}

.pageThree{
	background: url('../images/pageThree.jpg');
	background-size: cover;
	color: white;
}

.pageThreeExtension1{
	background-size: cover;
}

.pageThreeExtension2{
	background: url('../images/pageThreeExtension2.jpg');
	background-size: cover;
	color: white;
}

.extension{
	height: 120px;
}

.tiles{
	height: 300px;
}

.allPages{
	padding-top: 5%;
	padding-bottom: 5%;	
	height: 750px;	
}

.paddingTop{
	padding-top: 2%;
	padding-bottom: 2%;
}

footer{
	background-color: black;
	font-size: 15px;
	color: white;	
}

footer p{
	font-size: 15px;
	margin: 0px;
	padding-bottom: 10px;
}
